img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mg_wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  /*set the width to 100%*/
  /*Also set a max-width so the pics don't pixelate*/
  /*margin*/

}

.mg_contents {
  position: relative;
  padding: 5px;
  height: 100%;   
  max-height: 600px;
/*  Must have a set position
  must have padding to accomodate absolute elements*/
}

/* game_level-1 styles */
.mg_tile {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    max-height: 300px;  
    float: left;
    width: 25%;
    height: 50%;
}

/*-----GAME LEVEL 1 STYLE-----*/
/*Each element needs top % and left % so it appears in the right slot. The second one is done for you.*/

.mg_tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /*The inner must have a position to accomodate the inside and outside elements*/
  /*Height and width must be counter-set*/
  /*Make the mouse a hand when over the tile*/
}

.mg_tile-inner img {
  display: block;
  height: 100%;
  margin: auto;
  max-width: 100%;
}

.mg_tile-inner:hover {

}

.mg_tile-outside,
.mg_tile-inside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*position must be set*/
  /*top and left must be set*/
  /*height and width must be set*/
}

.mg_tile-outside {
  display: block;
  background: url("../img/default/logo-bw.png") 50% 50% no-repeat;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 0px 1px #787a80;
  /*Must use the background element and set the background to  ../img/default/logo-bw.png */
  /*Change the bg color so it's obviously not turned over*/
  /*Optional: create a box shadow*/
  /*set the width*/
  /*set a default display ... this must be different than .mg_tile-inside*/
}

.mg_tile-inside {
  background-color: #f8fafc;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: none;
  /*set a bg-color*/
  /*Optional: create a box shadow*/
  /*set a default display ... this must be different than .mg_tile-outside*/

}

.dropped {
  -moz-transform: translateY(300px) rotateZ(120deg); /* rotate, translate, and disappear */
  -webkit-transform: translateY(300px) rotateZ(120deg);
  transform: translateY(300px) rotateZ(120deg);
  opacity: 0;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;  
}

.flipped {

}

.matched {

}

.un-matched {
}

